@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Space Mono";
}
:root{
--Green-400: hsl(172, 67%, 45%);
--Green-900: hsl(183, 100%, 15%);
--Grey-500: hsl(186, 14%, 43%);
--Grey-400: hsl(184, 14%, 56%);
--Grey-200: hsl(185, 41%, 84%);
--Grey-50: hsl(189, 47%, 97%);
--White: hsl(0, 100%, 100%);
}
body{
    background-color: var(--Grey-200);
}
main {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#calculator{
    background-color: var(--White);
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
}
form{
    max-width: 50%;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;

}
 input, .grid-3 button{
    width: 100%;
}
.grid-3 button{
    border: none;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Green-900);
}
.grid-3 button:hover{
  background-color: var(--Green-400);
  color:var(--Green-900);
}
input{
    border: none;
    border-radius: 5px;
    background-color: var(--Grey-50);
}
#output{
    background-color: var(--Green-900);
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
span{
    color: var(--White);

}
small{
    font-size: 8px;
}
.price{
    color: var(--Green-400);
}
#reset-button{
    width: 100%;
    color: var(--Green-900);
    background-color: var(--Green-400);
    border-radius: 5px;
}